<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>To Do List</title>

<link rel="stylesheet" href="lib/Bootstrap/bootstrap.min.css" />
<link rel="stylesheet" href="lib/jQuery/jquery.ui.min.css" />
<link rel="stylesheet" href="assets/todo.css" />
</head>

<body id="body" class="well">
	<div id="container">
		<a id="baseUrl" th:href="@{/}"></a>
		<div id="header">To Do List</div>
		<div class="task-list task-container">
			<h3>To Do</h3>
			<div id="pending">
				<!-- <div class="todo-task ui-draggable" id="task-item" style="position: relative;">
				<div class="task-header">
				</div>
				<div class="task-date"></div>
				<div class="task-description"></div>
			</div> -->
			</div>
			<div align="center">
				<button class="btn btn-success">Add Task</button>
			</div>
		</div>

		<div class="task-list task-container">
			<h3>In Progress</h3>
			<div id="inProgress"></div>
		</div>

		<div class="task-list task-container">
			<h3>Completed</h3>
			<div id="completed"></div>
		</div>

		<div class="task-list">
			<h3>Add a task</h3>
			<form id="addTaskForm">
				<input type="hidden" id="id" name="id" /> <input type="hidden" id="parent" name="parent" value="pending" /> <input type="text" name="title" id="title" placeholder="Title" />
				<textarea name="description" id="description" placeholder="Description"></textarea>
				<input type="button" id="addTask" class="btn btn-primary" value="Add / Update"> <input type="button" class="btn btn-warning" value="Clear Data" onclick="todo.clear();" />

			</form>

			<div id="delete-div">Drag Here to Delete</div>
		</div>

		<div style="clear: both;"></div>
		<script type="text/javascript" src="lib/jQuery/jquery.min.js"></script>
		<script type="text/javascript" src="lib/Bootstrap/bootstrap.min.js"></script>
		<script type="text/javascript" src="lib/jQuery/jquery.ui.min.js"></script>
		<script type="text/javascript" src="assets/todo.js"></script>

		<script type="text/javascript">
			$(".task-container").droppable();
			$(".todo-task").draggable({
				revert : "valid",
				revertDuration : 200
			});
			//todo.init();
		</script>

	</div>
</body>
</html>